/* Slide background image defaults to reduced opacity, can be overwritten with `.no-fade` */
.reveal .slide-background-image.present {
	opacity: 0.12;
}
.reveal .slide-background-image.no-fade.present {
	opacity: 1;
}

/* Slide background image opacity when exporting to PDF, with `?print-pdf` */
.print-pdf .reveal .slide-background-image {
	opacity: 0.12 !important;
}
.print-pdf .reveal .slide-background-image.no-fade {
	opacity: 1 !important;
}

/* Code Display */
.reveal .code-label {
	font-size: 80%;
	text-align: left;
	text-transform: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
.reveal .code-label + pre {
	margin-top: 0;
}
.reveal pre {
	width: 100%;
}
.reveal pre code {
	font-size: 135%;
	line-height: 1.2em;
	padding: 5px 10px;
	background-color: #f8f8f8;
	color: #333;
	tab-size: 2;
}

.reveal table.zebra tr th,
.reveal table.zebra tr:nth-child(even) td {
	background-color: #333;
}
.reveal table.zebra th,
.reveal table.zebra td {
	border-bottom: none;
}

.reveal .persistant-credit {
	color: #fff;
	float: right;
	margin: 20px 40px;
	opacity: 1;
	transition: opacity 1s;
	z-index: 2;
}
.print-pdf .reveal .persistant-credit {
	display: none;
}
.reveal .pull-right { float: right; }
.reveal .pull-left { float: left; }

.fe-full-screen-image div.slide-background.present {
	background-size: contain;
	opacity: 1;
}
.fe-full-screen-image .persistant-credit { opacity: 0; }
